DISPLAY_TYPE='v3'
UPSIDE_DOWN=180

TIMEZONE='Europe/Moscow'
TIMEFORMAT='24h'
DATEFORMAT='%d.%m.%Y'

API_TOKEN='api_token'
UPDATE_TIME=120
LATITUDE=40.730610
LONGITUDE=-73.935242
TEMPERATURE='Celsius'
